:root {
  --primary: #6950a1;
}

.polygon {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #f8b04e;
  height: 70vh;
  width: 23%;
  clip-path: polygon(0 100%, 0 45%, 45% 0, 100% 0);
  transform: rotate(180deg);
  z-index: -1;
}

.polygon-one {
  position: fixed;
  min-height: 100%;
  background-color: var(--primary);
  height: 100%;
  width: 50px;
}

.polygon-second {
  position: fixed;
  min-height: 100%;
  background-color: #d7cae5;
  height: 100%;
  width: 01%;
  left: 50px;
}

.padrao-cor {
  color: var(--primary);
}

.ajuste {
  margin: 0 110px 0 70px;
  width: 70%;
}

.button {
  border: 1px solid var(--primary);
  border-radius: 20px;
  color: var(--primary);
}

.button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.button-second {
  display: flex;
  justify-content: space-between;
}

.cor {
  background-color: rgba(0, 0, 0, 0.065);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.formulario {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 2%;
}

.form {
  padding: 50px;
  color: var(--primary);
}

input {
  border-radius: 10px;
  height: 50px;
  border: 1px solid var(--primary);
}

.input input,
.input select {
  border-radius: 10px;
  height: 50px;
  border: 1px solid var(--primary);
}

.plano-fundo {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.247);
}
.closeX {
  cursor: pointer;
}

/*DARK MODE*/

body {
  min-height: 100vh;
  background: #f8f8f8;
}

body.active {
  background: #ddd;
}

#trocaCor {
  position: relative;
  display: block;
  width: 90px;
  height: 40px;
  border-radius: 40px;
  background: #f8f8f8;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#trocaCor.active {
  background: #ddd;
  box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
    inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.5);
}

#trocaCor .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#trocaCor.active .indicator {
  left: 50px;
  background: linear-gradient(to bottom, #f8f8f8, #f8f8f8);
  box-shadow: inset 0 8px 20px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 -4px 4px rgba(255, 255, 255, 1);
}

.separar {
  float: right;
}

/*VALIDAÇÃO CAMPOS*/

.success {
  border-color: green;
}

.error {
  border-color: red;
}

.concluido {
  color: #27ae60;
}

.emAndamento {
  color: #f8b04e;
}

.parada {
  color: #eb5757;
}


.plano-fundo-dois {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.247);
}

.confirmacao {
    margin: 10px;
    height: 40px;
    border-radius: 10px;
}

.confirmacao .corbtn{
    background: var(--primary);
}

.modal-confirm {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 40%;
  height: 20%;
  margin: auto;
  margin-top: 20%;
}
